<div class="container">
  <div class="col-md-3">
    <!-- Render the user's profile here -->
    Left column
  </div>

  <div class="col-md-6">
    <!-- Render the user's classes here -->
    Center column
  </div>

  <div class="col-md-3">
    <!-- Render the search things here -->
    <%= render 'search/search' %>
  </div>
</div>